<!DOCTYPE html>
<html>
<head>
    <title>Local AI Studio</title>
</head>

<body>
    <h1>Local AI Studio</h1>
    <p>My local AI image generator</p>

    <label for="prompt">Prompt:</label>

    <input
        type="text"
        id="prompt"
        placeholder="Describe an image..."
        <label for="seed">Seed:</label>

        <input
            type="number"
            id="seed"
            value="42"
        >

    <button id="generateButton">Generate</button>
    <img id="resultImage">
    <script>
        const button = document.getElementById("generateButton");
        const promptInput = document.getElementById("prompt");
        const seedInput = document.getElementById("seed");
        const resultImage = document.getElementById("resultImage");

        button.addEventListener("click", async function() {
            const prompt = promptInput.value;
            const seed = Number(seedInput.value);

            const response = await fetch("/generate", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    prompt: prompt,
                    steps: 8,
                    seed: seed
                })
            });

        const data = await response.json();
        resultImage.src = "/" + data.image_path;

        console.log(data);
});
    </script>
</body>
</html>